<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPAI Spring MVC Demo</title>
</head>
<body>
<p>This is the MPAI Spring MVC - Enroll page</p>
<form method="post">
    <label for="studentID">What is the student ID that you want to enroll?</label>
    <input id="studentID" name="studentId" type="number"/>
    <button type="submit"><i>Save</i></button>
</form>
<p>Available students</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Student name demo 1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Student name demo 2</td>
    </tr>
    </tbody>
</table>
</body>
</html>